.jz-relative {
  cursor: pointer;
  position: relative;
}
.jz-large, .jz-description {
  position: absolute;
  top: 0px;
  left: 0px;
}
.jz-large {
  overflow: hidden;
  top: -9999px;
  left: -9999px;
}
.jz-description {
  border: 2px solid #ffffff;
  cursor: pointer;
} 
.jz-description-hover {
  border: 2px solid #ffffff;
}


/** Overlay **/
.jz-description-overlay {
  background: #fff;
  position: absolute;
}
.jz-desc-title {
  width: 100px;
}
